.activeModal {
  position: fixed;
  bottom: 24px;
  right: 24px;
  & img { filter: drop-shadow(0px 4px 4px #00000040); }

  & button { background-color: var(--purple); }
}

.modal {
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #00000066;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all .3s ease-in-out;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal__content {
  padding: 2.4rem;
  width: 70%;
  max-width: 500px;
  border-radius: 0.5rem;
  background-color: var(--gray);
}

.modal__content h2 { 
  margin: 2rem 0 .8rem 0; 
  color: var(--text);
}

.input_group { margin-top: .8rem; }

.submit_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit_buttons button {
  width: 48%;
  height: 50px;
  & .submit .mdc-button__label {
    color: transparent;
  }
}
