:root {
  --bg: #EDF2F8;
  --white: #F8F8F8;
  --gray: #DBE2EF;
  --dark-gray:  #3c3c3c66;
  --purple: #8A2BE2;
  --purple-light: #9370DB;
  --after: rgba(230,236,245,0.4);
  --text: #000;
  --special: var(--purple);
}

html[data-theme='dark'] {
  --special: #FFC107;
  --bg: #1f2223;
  --white: #1c1e1f;
  --gray: #272a2c;
  --dark-gray: #3c3c3c66;
  --purple: #6518ac;
  --purple-light: #9370DB;
  --after: rgba(34, 37, 38, 0.4);
  --text: #e8e6e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: 'Nunito','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .3s ease-in-out;
}